/temp
/Plot QA Dataset
.idea
/Filtered_PlotQA_dot_line
dot_line_dataset.zip
/Final Dataset
/Scatter Plot Detection/Scatter Dataset
/Scatter Plot Detection/ScatterPlotElementDetection.pth
/Bar Chart
/Chart Detection
/Scatter Plot Detection
/Import Folder